.sign-up {
  background: $testimonailBg;
  flex-direction: column;
  text-align: center;

  @include breakpoint(large) {
    padding: 40px 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -155px;
  }

  & h2 {
    margin-bottom: 30px;
  }

  & p {
    margin-bottom: 16px;
    text-align: center;
  }

  & form {
    & input[type='email'] {
      width: 320px;
      height: 50px;
      border: 0;
      outline: none;
      border-radius: 30px;
      margin-bottom: 16px;
      text-align: center;

      @include breakpoint(large) {
      }

      &::placeholder {
        opacity: 0.3;
        text-align: center;
      }
    }
  }
}
